@model IEnumerable<AppDevelopment0805.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index of Courses</h2>


    <div class="form-group">
        @Html.ActionLink("Add new Course", // <-- Link text
                              "Create", // <-- Action Method Name
                              "Courses", // <-- Controller Name
                              null, // <-- Route value
                              new { @class = "btn btn-info" } // <-- htmlArguments
                              )



    </div>






@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{


    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" id="SearchString" name="SearchString" placeholder="Sreach by Course Name..." />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    </div>

}


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <th scope="row">@course.Id</th>
                <td>@course.Category.Name</td>
                <td>@course.Name</td>
                <td>@course.Description</td>

                    <td>
                        @Html.ActionLink("Edit", // <-- Link text
                                                         "Edit", // <-- Action Method Name
                                                         "Courses", // <-- Controller Name
                                                         new { id = course.Id }, // <-- Route value
                                                         new { @class = "btn btn-default" } // <-- htmlArguments
                                                     )

                        @Html.ActionLink("Delete", // <-- Link text
                                                         "Delete", // <-- Action Method Name
                                                         "Courses", // <-- Controller Name
                                                         new { id = course.Id }, // <-- Route value
                                                         new { @class = "btn btn-danger" } // <-- htmlArguments
                                                     )
                    </td>



            </tr>




        }
    </tbody>
</table>